<!DOCTYPE html>
<html lang="de-DE">

<head>
    {{> Layouts/Defaults/head }}
</head>

<body class="no-touch hyphenate">
    {{#> content-header }}
    {{/ content-header }}
    <main>
        {{#> content-block }}
        {{/ content-block }}
    </main>
</body>

</html>
