<div class="standard-text content-grid padding-before padding-after">
    <h2 class="mb-2 text-h5">
        Über das Projekt
    </h2>

    <p class="max-md:!ml-[80px]">
        Lorem ipsum dolor sit amet consectetur. Senectus ut arcu sapien
        fermentum eros cras. In sit turpis donec integer integer praesent purus
        eget posuere.
    </p>
</div>