<div class="padding-before padding-after">
    <div class="zitat-section">
        <figure>
            <picture>
                <img src="https://placehold.co/1000x1000" alt="" />
            </picture>
        </figure>

        <div class="content-grid">
            <div class="zitat">
                <span class="opening">“</span>
                <p>
                    Lorem ipsum, dolor sit
                </p>
                <span class="closing">“</span>
            </div>
        </div>
    </div>
</div>