<footer>
    <div class="content-grid">
        <div class="upper-footer">
            <h2 class="text-h6">
                Website created using the
                <br />
                newest Typo3 update
            </h2>

            <ul>
                <li>
                    <a href="#">
                        Check out the repository

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="22"
                            height="15"
                            viewBox="0 0 22 15"
                            fill="none"
                        >
                            <path
                                d="M21.7071 8.20711C22.0976 7.81658 22.0976 7.18342 21.7071 6.7929L15.3431 0.428934C14.9526 0.0384091 14.3195 0.0384091 13.9289 0.428933C13.5384 0.819458 13.5384 1.45262 13.9289 1.84315L19.5858 7.5L13.9289 13.1569C13.5384 13.5474 13.5384 14.1805 13.9289 14.5711C14.3195 14.9616 14.9526 14.9616 15.3431 14.5711L21.7071 8.20711ZM-8.74228e-08 8.5L21 8.5L21 6.5L8.74228e-08 6.5L-8.74228e-08 8.5Z"
                                fill="#EB545B"
                            />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Check out CP/Compartner

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="22"
                            height="15"
                            viewBox="0 0 22 15"
                            fill="none"
                        >
                            <path
                                d="M21.7071 8.20711C22.0976 7.81658 22.0976 7.18342 21.7071 6.7929L15.3431 0.428934C14.9526 0.0384091 14.3195 0.0384091 13.9289 0.428933C13.5384 0.819458 13.5384 1.45262 13.9289 1.84315L19.5858 7.5L13.9289 13.1569C13.5384 13.5474 13.5384 14.1805 13.9289 14.5711C14.3195 14.9616 14.9526 14.9616 15.3431 14.5711L21.7071 8.20711ZM-8.74228e-08 8.5L21 8.5L21 6.5L8.74228e-08 6.5L-8.74228e-08 8.5Z"
                                fill="#EB545B"
                            />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <ul class="navi-add">
            <li>
                <a href="#">Impressum</a>
            </li>
            <li>
                <a href="#">Henry</a>
            </li>
        </ul>
    </div>
</footer>