<div class="content-grid padding-before padding-after gallery-section">
    <div class="gallery-container">
        <figure>
            <picture>
                <img src="https://placehold.co/1000x1000" alt="" />
            </picture>
        </figure>
        <figure>
            <picture>
                <img src="https://placehold.co/1000x1000" alt="" />
            </picture>
        </figure>
        <figure>
            <picture>
                <img src="https://placehold.co/1000x1000" alt="" />
            </picture>
        </figure>
    </div>
</div>