<div class="rounded-stat padding-before padding-after">
    <div class="rounded-conainer circle-1">
        <span>56%</span>
        <p>
            Stat 1
        </p>
    </div>

    <div class="rounded-conainer outer circle-1">
        <span>80%</span>
        <p>
            Stat 1
        </p>
    </div>

    <div class="rounded-conainer outer circle-1">
        <span>90%</span>
        <p>
            Stat 1
        </p>
    </div>

    <div class="rounded-conainer outer circle-1">
        <span>56%</span>
        <p>
            Stat 1
        </p>
    </div>
</div>