<div class="fact-area">
    <div class="fact-container">
        <div class="fact-number">439
            <p class="text-end">Team member in the web team (excluding you)</p>
        </div>
    </div>

    <div class="fact-container">
        <div class="fact-number">187
            <p class="text-center">So viel Code wird erstellt</p>
        </div>
    </div>

    <div class="fact-container">
        <div class="fact-number">1337
            <p class="text-center">Dinger gedreht</p>
        </div>
    </div>
</div>