<input type="checkbox" id="navi-toggled" />

<ul id="quickbar">
    <li>
        <label for="navi-toggled"><span>Menü</span></label>
    </li>
</ul>

<div class="first-level" id="navigation">
    <nav>
        <ul>
            <li>
                <a href="/" title="Navigations Link">
                    Dragon
                </a>
            </li>
            <li>
                <a href="#" title="Navigations Link">
                    Renaniac
                </a>
            </li>
            <li>
                <a href="#" title="Navigations Link">
                    Darko
                </a>
            </li>
            <li>
                <a href="#" title="Navigations Link">
                    Lokus
                </a>
            </li>
            <li>
                <a href="#" title="Navigations Link">
                    Cplanet
                </a>
            </li>
            <li>
                <a href="#" title="Navigations Link">
                    CP/Compartner
                </a>
            </li>
        </ul>
    </nav>
</div>