root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# TS/JS-Files
[*.{ts,js}]
indent_style = space
indent_size = 4

[{package.json,*.yml,*.cjson}]
indent_style = space
indent_size = 4

# Markdown-Files
[*.md]
max_line_length = 80
