<div class="content-grid padding-before padding-after">
    <details>
        <summary>Was ist mir wichtig bei der Umsetzung?</summary>
        Lorem ipsum dolor sit amet consectetur. Senectus ut arcu sapien
        fermentum eros cras. In sit turpis donec integer integer praesent purus
        eget posuere.
    </details>
    <details>
        <summary>Was ist mir wichtig bei der Umsetzung?</summary>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas animi quam
        incidunt magnam commodi? Fuga, ea nihil beatae distinctio incidunt
        facere sapiente consectetur voluptatem, itaque autem aut. Dignissimos,
        perferendis iure?
    </details>

    <details>
        <summary>Was ist mir wichtig bei der Umsetzung?</summary>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
        quibusdam dignissimos fugiat atque excepturi odit vel molestias quae,
        necessitatibus modi dolor molestiae harum natus aspernatur a quos
        dolores, ad quis temporibus est consequatur id voluptatem in. Nobis,
        asperiores, magnam adipisci laboriosam fuga dolores, nemo consectetur
        hic commodi aspernatur neque ad. Quasi qui alias totam delectus eligendi
        tempora dignissimos, asperiores ipsum praesentium quod nulla ipsam
        labore non libero assumenda eveniet vero quae facere, eaque quibusdam.
        Quia debitis inventore nisi officiis quos sit illo eveniet esse? Iusto
        officiis quidem iste rem obcaecati delectus, assumenda tempore, nobis
        molestiae ea ullam fuga, sapiente perspiciatis!
    </details>
</div>