<div id="best-project" class="padding-before padding-after">
    <h2>
        Best Project
    </h2>

    <div class="layered-images">
        <figure class="center-image" style="height: 900px; width: 100%;">
            <picture>
                <img src="../assets/Images/long.jpg" alt="" />
            </picture>
        </figure>
    </div>

    <div class="project-detail-images">
        <figure class="middle-img">
            <picture>
                <img src="../assets/Images/wide.jpg" alt="" />
            </picture>
        </figure>
    </div>

    <div class="project-img-text">
        <figure>
            <picture>
                <img src="https://placehold.co/1600x900" alt="" />
            </picture>
        </figure>

        <div class="project-name">
            <h2>
                Der extremlange Projektna
            </h2>
        </div>
    </div>
</div>
