<!DOCTYPE html>
<html lang="de-DE">

<head>
    <title>
            Dr. Agans eigene Unterseite ::
        Fokus Bahn
    </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="description" content="Lorem ipsum dolor sit amet mauris fusce est mattis eiusmod lacus purus donec.">
    <meta property="og:title" content="Fokus Bahn">
    <meta property="og:image" content="/build/images/og.jpg">
    <meta property="og:description" content="Lorem ipsum dolor sit amet mauris fusce est mattis eiusmod lacus purus donec.">
    <meta name="format-detection" content="telephone=no">
    
    <link rel="stylesheet" href="./Css/app.css" type="text/css" />
    
    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="./assets/favicon/apple-touch-icon.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="./assets/favicon/favicon-32x32.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#10059F" />
    <meta name="msapplication-TileColor" content="#10059F" />
    <meta name="theme-color" content="#10059F" />
    <script defer src="./JavaScript/app.js"></script>
    <script src="./JavaScript/Hyphenopoly_Loader.js"></script>
    <script>
        Hyphenopoly.config({
            require: {
                "de-DE": "FORCEHYPHENOPOLY",
                //"en-EN": "FORCEHYPHENOPOLY"
            },
            fallbacks: {
                "de-DE": "de",
                "en-EN": "en-gb"
            },
            paths: {
                patterndir: "./assets/HyphenationPatterns/",
                // patterndir: document.querySelector("[data-hyphenopoly-pattern-dir]").dataset.hyphenopolyPatternDir,
                // maindir: document.querySelector("[data-hyphenopoly-main-dir]").dataset.hyphenopolyMainDir,
            },
            setup: {
                timeout: 1000,
                //defaultLanguage: "de-DE",
                dontHyphenateClass: "donthyphenate",
                selectors: {
                    ".hyphenate": {}
                }
            }
        });
    </script>
    
</head>

<body class="no-touch hyphenate">
    <input type="checkbox" id="navi-toggled" />
    
    <ul id="quickbar">
        <li>
            <label for="navi-toggled"><span>Menü</span></label>
        </li>
    </ul>
    
    <div class="first-level" id="navigation">
        <nav>
            <ul>
                <li>
                    <a href="/" title="Navigations Link">
                        Dragon
                    </a>
                </li>
                <li>
                    <a href="#" title="Navigations Link">
                        Renaniac
                    </a>
                </li>
                <li>
                    <a href="#" title="Navigations Link">
                        Darko
                    </a>
                </li>
                <li>
                    <a href="#" title="Navigations Link">
                        Lokus
                    </a>
                </li>
                <li>
                    <a href="#" title="Navigations Link">
                        Cplanet
                    </a>
                </li>
                <li>
                    <a href="#" title="Navigations Link">
                        CP/Compartner
                    </a>
                </li>
            </ul>
        </nav>
    </div>    <main>


<header>
    <div class="headline">
        <div class="header-head">
            <img src="../../assets/Images/btn-bg.svg"/>
        </div>

        <h1>
            Renaniac
        </h1>
    </div>

    <div class="content-grid">
        <p class="subline">
            Lorem Ipsum
        </p>
    </div>
</header>

<div class="fact-area">
    <div class="fact-container">
        <div class="fact-number">439
            <p class="text-end">Team member in the web team (excluding you)</p>
        </div>
    </div>

    <div class="fact-container">
        <div class="fact-number">187
            <p class="text-center">So viel Code wird erstellt</p>
        </div>
    </div>

    <div class="fact-container">
        <div class="fact-number">1337
            <p class="text-center">Dinger gedreht</p>
        </div>
    </div>
</div>
<div id="best-project" class="padding-before padding-after">
    <h2>
        Best Project
    </h2>

    <div class="layered-images">
        <figure class="center-image" style="height: 900px; width: 100%;">
            <picture>
                <img src="../assets/Images/long.jpg" alt="" />
            </picture>
        </figure>
    </div>

    <div class="project-detail-images">
        <figure class="middle-img">
            <picture>
                <img src="../assets/Images/wide.jpg" alt="" />
            </picture>
        </figure>
    </div>

    <div class="project-img-text">
        <figure>
            <picture>
                <img src="https://placehold.co/1600x900" alt="" />
            </picture>
        </figure>

        <div class="project-name">
            <h2>
                Der extremlange Projektna
            </h2>
        </div>
    </div>
</div>

<div class="standard-text content-grid padding-before padding-after">
    <h2 class="mb-2 text-h5">
        Über das Projekt
    </h2>

    <p class="max-md:!ml-[80px]">
        Lorem ipsum dolor sit amet consectetur. Senectus ut arcu sapien
        fermentum eros cras. In sit turpis donec integer integer praesent purus
        eget posuere.
    </p>
</div>

<div class="content-grid padding-before padding-after">
    <details>
        <summary>Was ist mir wichtig bei der Umsetzung?</summary>
        Lorem ipsum dolor sit amet consectetur. Senectus ut arcu sapien
        fermentum eros cras. In sit turpis donec integer integer praesent purus
        eget posuere.
    </details>
    <details>
        <summary>Was ist mir wichtig bei der Umsetzung?</summary>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas animi quam
        incidunt magnam commodi? Fuga, ea nihil beatae distinctio incidunt
        facere sapiente consectetur voluptatem, itaque autem aut. Dignissimos,
        perferendis iure?
    </details>

    <details>
        <summary>Was ist mir wichtig bei der Umsetzung?</summary>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
        quibusdam dignissimos fugiat atque excepturi odit vel molestias quae,
        necessitatibus modi dolor molestiae harum natus aspernatur a quos
        dolores, ad quis temporibus est consequatur id voluptatem in. Nobis,
        asperiores, magnam adipisci laboriosam fuga dolores, nemo consectetur
        hic commodi aspernatur neque ad. Quasi qui alias totam delectus eligendi
        tempora dignissimos, asperiores ipsum praesentium quod nulla ipsam
        labore non libero assumenda eveniet vero quae facere, eaque quibusdam.
        Quia debitis inventore nisi officiis quos sit illo eveniet esse? Iusto
        officiis quidem iste rem obcaecati delectus, assumenda tempore, nobis
        molestiae ea ullam fuga, sapiente perspiciatis!
    </details>
</div>
<div class="padding-before padding-after">
    <div class="zitat-section">
        <figure>
            <picture>
                <img src="https://placehold.co/1000x1000" alt="" />
            </picture>
        </figure>

        <div class="content-grid">
            <div class="zitat">
                <span class="opening">“</span>
                <p>
                    Lorem ipsum, dolor sit
                </p>
                <span class="closing">“</span>
            </div>
        </div>
    </div>
</div>
<div class="content-grid padding-before padding-after gallery-section">
    <div class="gallery-container">
        <figure>
            <picture>
                <img src="https://placehold.co/1000x1000" alt="" />
            </picture>
        </figure>
        <figure>
            <picture>
                <img src="https://placehold.co/1000x1000" alt="" />
            </picture>
        </figure>
        <figure>
            <picture>
                <img src="https://placehold.co/1000x1000" alt="" />
            </picture>
        </figure>
    </div>
</div>



<div class="content-grid padding-before padding-after">
    <div class="standard-text content-grid padding-before padding-after">
        <h2 class="mb-2 text-h5">
            Über das Projekt
        </h2>
    
        <p class="max-md:!ml-[80px]">
            Lorem ipsum dolor sit amet consectetur. Senectus ut arcu sapien
            fermentum eros cras. In sit turpis donec integer integer praesent purus
            eget posuere.
        </p>
    </div>    <div class="flex flex-col justify-center items-center"><a href="https://www.cp-compartner.de" title="Besuche CPCompartner" class="btn red"><span>The Project</span></a></div>
</div>

    </main>

    <footer>
        <div class="content-grid">
            <div class="upper-footer">
                <h2 class="text-h6">
                    Website created using the
                    <br />
                    newest Typo3 update
                </h2>
    
                <ul>
                    <li>
                        <a href="#">
                            Check out the repository
    
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="22"
                                height="15"
                                viewBox="0 0 22 15"
                                fill="none"
                            >
                                <path
                                    d="M21.7071 8.20711C22.0976 7.81658 22.0976 7.18342 21.7071 6.7929L15.3431 0.428934C14.9526 0.0384091 14.3195 0.0384091 13.9289 0.428933C13.5384 0.819458 13.5384 1.45262 13.9289 1.84315L19.5858 7.5L13.9289 13.1569C13.5384 13.5474 13.5384 14.1805 13.9289 14.5711C14.3195 14.9616 14.9526 14.9616 15.3431 14.5711L21.7071 8.20711ZM-8.74228e-08 8.5L21 8.5L21 6.5L8.74228e-08 6.5L-8.74228e-08 8.5Z"
                                    fill="#EB545B"
                                />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Check out CP/Compartner
    
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="22"
                                height="15"
                                viewBox="0 0 22 15"
                                fill="none"
                            >
                                <path
                                    d="M21.7071 8.20711C22.0976 7.81658 22.0976 7.18342 21.7071 6.7929L15.3431 0.428934C14.9526 0.0384091 14.3195 0.0384091 13.9289 0.428933C13.5384 0.819458 13.5384 1.45262 13.9289 1.84315L19.5858 7.5L13.9289 13.1569C13.5384 13.5474 13.5384 14.1805 13.9289 14.5711C14.3195 14.9616 14.9526 14.9616 15.3431 14.5711L21.7071 8.20711ZM-8.74228e-08 8.5L21 8.5L21 6.5L8.74228e-08 6.5L-8.74228e-08 8.5Z"
                                    fill="#EB545B"
                                />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
    
            <ul class="navi-add">
                <li>
                    <a href="#">Impressum</a>
                </li>
                <li>
                    <a href="#">Henry</a>
                </li>
            </ul>
        </div>
    </footer></body>

</html>
